#results{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
}
.item{
    cursor: pointer;
    user-select: none;
}
.hidden{
    display: none;
}
.error{
    color: red;
}
.data{
    height: 80px;
}